<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title=${commons.getTitle()},active='home',logo=${commons.getLogo()},copyright=${commons.getCopyright()}">
<header th:replace="/admin/header::headerFragment(${title},${active},${logo})"></header>
<head>
    <style type="text/css">
        .layui-form-item{
            margin-bottom: 5px!important;
        }
        .layui-form-item .layui-input-inline {
            margin-right: 0px!important;
        }
        .layui-form-label {
            padding: 9px 10px!important;
        }
    </style>
</head>
<body>
    <div style="padding-top: 2%" />
    <form class="layui-form layui-form-pane" id="form-user-add" method="post">
        <input hidden="hidden" name="type" th:value="${user.type}"/>
        <input hidden="hidden" name="id" th:value="${user.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">登录名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="username" lay-verify="title" th:readonly="${action=='edit'}" th:value="${user.username}" autocomplete="off" placeholder="登录名称" class="layui-input" />
            </div>
            <label class="layui-form-label">用户名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="screenName" lay-verify="title" th:value="${user.screenName}" autocomplete="off" placeholder="用户名称" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item" th:if="${action=='add'}">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-inline">
                <input type="text" name="password" lay-verify="title" value="123"  autocomplete="off" placeholder="请输入密码" class="layui-input" />
            </div>
            <label class="layui-form-label">确认密码：</label>
            <div class="layui-input-inline">
                <input type="text" name="ensurePassword" lay-verify="title" value="123" autocomplete="off" placeholder="确认密码" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话号码：</label>
            <div class="layui-input-inline">
                <input type="text" name="telephone" lay-verify="phone" th:value="${user.telephone}" autocomplete="off" placeholder="电话号码" class="layui-input" />
            </div>
            <label class="layui-form-label">邮箱：</label>
            <div class="layui-input-inline">
                <input type="text" name="email" lay-verify="title" autocomplete="off" th:value="${user.email}" placeholder="邮箱" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号码：</label>
            <div class="layui-input-block">
                <input type="text" name="identification" lay-verify="title" autocomplete="off" th:value="${user.identification}" placeholder="身份证号码" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">家庭住址：</label>
            <div class="layui-input-block">
                <input type="text" name="address" lay-verify="title" autocomplete="off" th:value="${user.address}" placeholder="家庭住址" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">是否启用：</label>
            <ll:radio class="layui-input-block" defaultValue="0" radioName="status" th:value="${user.status}" dictType="是否启用"></ll:radio>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">访问权限：</label>
            <input hidden="hidden" name="groupName" id="groupName" th:value="${user.groupName}" />
            <div class="layui-input-block">
                <input type="text" id="groupName-" name="groupName-" th:value="${group}" lay-verify="title" autocomplete="off" readonly="readonly"  onclick="checkBox('/admin/checkBox?leftTitle=1&rightTitle=2&src=/admin/role/getListRole','选择权限','groupName')"  placeholder="访问权限" class="layui-input" />
            </div>
        </div>
        <div style="height:30px">
        </div>
        <div>
            <div style="text-align: center">
                <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3 />
            </div>
            <div style="text-align: right;padding-right: 1%">
                <button type="button" onclick="submitUser()" class="layui-btn layui-btn-normal layui-btn-radius">确定</button>
                <button type="button" onclick="quxiao()" class="layui-btn layui-btn-warm layui-btn-radius">取消</button>
            </div>
        </div>
    </form>
    <div th:replace="/admin/footer::footer_common"></div>
    <div th:replace="/admin/footer::footer-np"></div>
    <script type="text/javascript" th:src="@{/static/admin/n_n/user/add.js}"></script>
    <div th:replace="/admin/footer::footer-content(${copyright})"></div>
</body>
<script type="text/javascript">

</script>
</html>