<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title=${commons.getTitle()},active='home',logo=${commons.getLogo()},copyright=${commons.getCopyright()}">
<header th:replace="/admin/header::headerFragment(${title},${active},${logo})"></header>
<body>
    <form class="layui-form layui-form-pane" id="form-dict-add" method="post">
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="test8">选择文件</button>
            <button type="button" class="layui-btn" id="test9">开始上传</button>
        </div>
        <div style="display: none;color: red" id="errMsg"></div>
        <div style="display: none;" id="errFile"><a id="errFileA" href="" style="color: red">下载错误信息</a></div>
        <div style="padding-top:5% "><a href="javascript:void(0)" onclick="downloadMould()">下载模板</a></div>
    </form>
</body>
<div th:replace="/admin/footer::footer_common"></div>
<script type="text/javascript" th:src="@{/static/admin/n_n/user/import.js}"></script>
<div th:replace="/admin/footer::footer-content(${copyright})"></div>
</html>