<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title=${commons.getTitle()},active='home',logo=${commons.getLogo()},copyright=${commons.getCopyright()}">
    <header th:replace="/admin/header::headerFragment(${title},${active},${logo})"></header>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="padding-top: 2%" />
    <form class="layui-form layui-form-pane" id="form-dict-add" method="post">
        <input hidden="hidden" id="pid" name="pid" th:value="${pid}"/>
        <input hidden="hidden" id="series" name="series" th:value="${series}"/>
        <input hidden="hidden" id="id" name="id" th:value="${id}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单：</label>
            <div class="layui-input-block">
                <input type="text" name="pname" th:value="${pname}" lay-verify="title" autocomplete="off" placeholder="功能名称" readonly="readonly" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">功能名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" th:value="${name}" lay-verify="title" autocomplete="off" placeholder="功能名称" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">功能图标：</label>
            <div class="layui-input-block">
                <input type="text" name="icon" th:value="${icon}" lay-verify="title" autocomplete="off" placeholder="功能图标" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链接url：</label>
            <div class="layui-input-block">
                <input type="text" th:disabled="${action=='view'}" name="url" th:value="${url}" lay-verify="title" autocomplete="off" placeholder="请输入链接url" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">是否启用：</label>
            <ll:radio class="layui-input-block" defaultValue="0" radioName="status" th:value="${status}" dictType="是否启用"></ll:radio>
            <!--            <div class="layui-input-block">
                            <input type="radio" name="status" th:value="0" title="是" th:checked="${status==0}">
                            <input type="radio" name="status" th:value="1" title="否" th:checked="${status==1}">
                        </div>-->
        </div>
        <div style="text-align: center">
            <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3 />
        </div>
        <div style="text-align: right;padding-right: 1%">
            <button type="button" th:if="${action!='view' }" onclick="submitDict()" class="layui-btn layui-btn-normal layui-btn-radius">确定</button>
            <button type="button" onclick="quxiao()" class="layui-btn layui-btn-warm layui-btn-radius">取消</button>
        </div>
    </form>
    <div th:replace="/admin/footer::footer_common"></div>
    <div th:replace="/admin/footer::footer-np"></div>
    <script type="text/javascript" th:src="@{/static/admin/n_n/menu/edit.js}"></script>
    <div th:replace="/admin/footer::footer-content(${copyright})"></div>
</body>
<script type="text/javascript">

</script>
</html>