<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title=${commons.getTitle()},active='home',logo=${commons.getLogo()},copyright=${commons.getCopyright()}">
<header th:replace="/admin/header::headerFragment(${title},${active},${logo})"></header>
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/static/admin/n_n/loginPic/imageShow.css}"></link>
</head>
<body>
<div class="page-container">
    <div id="list" th:fragment="list" style="overflow:hidden;zoom:1;">
        <div class="cl pd-5 bg-1 bk-gray">
            <table>
                <td>
                    <!--<div class="search_box_con">
                        <input type="text" placeholder="请输入搜索关键字" onkeydown="if(event.keyCode==13)searchValue()" id="search"/>
                        <a class="fe-font Hui-iconfont" href="#this" onclick="searchValue()">&#xe709;</a>-->
                    <!--<span class="fe-font Hui-iconfont"></span>
                </div>-->
                </td>
                <td>
                    <div>
                        <ul class="toolbar_list">
                            <li><a href="javascript:;" id="btn-delete" onclick="btn_delete()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></li>
                            <li><a href="javascript:;" id="btn-update" onclick="btn_update()"  class="btn btn-warning radius"><i class="Hui-iconfont">&#xe601;</i>批量启用/停用</a></li>
                            <li><a class="btn btn-primary radius" onclick="picture_add('添加登录背景图','/admin/loginPic/add')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加登录背景图</a></li>
                        </ul>
                    </div>
                </td>
                <td></td>
            </table>
<!--            <span class="l">
                <a href="javascript:;" id="btn-delete" onclick="btn_delete()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                <a href="javascript:;" id="btn-update" onclick="btn_update()"  class="btn btn-warning radius"><i class="Hui-iconfont">&#xe601;</i>批量启用/停用</a>
                <a class="btn btn-primary radius" onclick="picture_add('添加登录背景图','/admin/loginPic/add')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加登录背景图</a>
            </span>
            <span class="r">共有数据：<strong th:text="${total}"></strong> 条</span>-->
        </div>
        <input th:hidden="true" id="total" th:value="${total}" />
        <!--	<div class="menu">
                <div id="search">
                    <input type="text" id="key" placeholder="输入名称搜索">
                    <input class="button" type="button" id="btn-search" value="搜索">
                    <input class="button ml100 pass-btn" type="button" id="btn-pass" value="审核">
                    <input class="button del-btn" type="button" id="btn-delete" value="删除">
                </div>
            </div>-->
        <div class="row" id="container">
            <th:block th:each="pic : ${picList}">
                <div class="img-block">
                    <div class="thumbnail" th:id="${pic.id}" th:title="${pic.name}">
                        <input hidden="hidden" th:value="${pic.id}" name="loginPic-id"/>
                        <img th:src="${pic.path}" th:alt="${pic.name}"/>
<!--                        <div class="caption">
                            <h4 th:text="${pic.name}">null</h4>
                        </div>-->
                        <div class="b">
                            <div class="c"></div>
                            <span class="span1" th:if="${pic.status} eq '0'">启用中</span>
                            <span class="span2" th:if="${pic.status} ne '0'">未启用</span>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <div id="laypage"></div>
    <div id="dataNull" style="text-align: center" hidden="hidden">
        <img width="300px" height="300px" th:src="@{/static/admin/images/dataNull.png}"/>
    </div>
</div>
<div class="contextMenu" id="menu" hidden="hidden">
    <ul>
        <li id="updateStatus">启用/停用 </li>
        <li id="updateDelete">删除 </li>
        <li id="viewLoginPic">查看 </li>
        <li id="editLoginPic">编辑 </li>
    </ul>
</div>

<div th:replace="/admin/footer::footer_common"></div>
<div th:replace="/admin/footer::footer-np"></div>
<!--自定义业务-->
<script type="text/javascript" th:src="@{/static/admin/n_n/loginPic/list.js}"></script>
<div th:replace="/admin/footer::footer-content(${copyright})"></div>
</body>
</html>