<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title=${commons.getTitle()},active='home',logo=${commons.getLogo()},copyright=${commons.getCopyright()}">
<header th:replace="/admin/header::headerFragment(${title},${active},${logo})"></header>
<body>
<div class="page-container">
    <form class="form form-horizontal" id="form-loginPic-add">
        <input hidden="hidden" id="id" name="id" th:value="${LoginPic.id}"/>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>登录背景图标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input readonly="readonly" type="text" class="input-text" th:value="${LoginPic.name}" placeholder="" id="name" name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>详情：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input readonly="readonly" type="text" class="input-text" th:value="${LoginPic.detail}" placeholder="" id="detail" name="detail">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input readonly="readonly" type="text" class="input-text" th:value="${LoginPic.sort}" placeholder="" id="sort" name="sort">
            </div>
        </div>
<!--        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">轮播图类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select disabled="disabled" class="select" id="type" name="type" th:value="${Carousel.type}">
					<option th:selected="${Carousel.type}=='0'" value="0">跳转到商品详情页面</option>
					<option th:selected="${Carousel.type}=='1'" value="1">跳转到自定义页面</option>
				</select>
				</span>
            </div>
        </div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">启用：</label>
            <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
                    <ll:combo disabled="disabled" dictType="是否启用" class="select" id="status" name="status" th:value="${LoginPic.status}"></ll:combo>
				</span>
            </div>
        </div>
        <!--<div class="row cl" id="shop">
            <label class="form-label col-xs-4 col-sm-2">商品</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input readonly="readonly" type="text" class="input-text" th:value="${Carousel.sid}" placeholder="" id="sid" name="sid">
            </div>
        </div>
        <div class="row cl" hidden="hidden" id="customize">
            <label class="form-label col-xs-4 col-sm-2">自定义页面链接</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input readonly="readonly" type="text" class="input-text" th:value="${Carousel.url}" placeholder="url" id="url" name="url">
            </div>
        </div>-->
        <input type="hidden" id="path" name="path" th:value="${LoginPic.path}">
        <input type="hidden" id="attachmentId" name="attachmentId" th:value="${LoginPic.attachmentId}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片上传：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-list-container">
                    <div class="queueList">
                        <div id="dndArea" class="placeholder">
                            <div id="filePicker-2"></div>
                            <p>或将照片拖到这里，单次最多可选1张</p>
                        </div>
                    </div>
                    <div class="statusBar" style="display:none;">
                        <div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>
                        <div class="info"></div>
                        <div class="btns">
                            <div id="filePicker2"></div>
                            <div class="uploadBtn" style="display:none;">开始上传</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<div th:replace="/admin/footer::footer_common"></div>
<div th:replace="/admin/footer::footer-np"></div>
<!--carousel-add页面业务相关的自定义脚本-->
<script type="text/javascript" th:src="@{/static/admin/n_n/loginPic/view.js}"></script>
<div th:replace="/admin/footer::footer-content(${copyright})"></div>
</body>
</html>